@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');




html{
    
    background-color: moccasin;
    
    
}




 .page1,.page2 {
text-align-last: center;
    font-size: 25px;
    background-color: maroon;
 font-family: 'Orbitron', sans-serif;
color: moccasin;
 width: 1000px;
 margin: 0 auto;
 padding: 20px 20px 20px 20px;
 
    
}



.block1
{
    text-align: center;
    display: block;
    
    font-size: 20px;
      background-color: moccasin;       
 font-family: 'Orbitron', sans-serif;
color: maroon;
 width: 850px;
 
    margin-top: 300 auto;
    margin-left: auto;
    margin-right: auto;
 padding: 20px 20px 20px 20px;
 border: 10px solid gray;
    overflow: auto;
    
    
}

.block2{
    text-align: center;
    display: block;
    
    font-size: 20px;
      background-color: moccasin;       
 font-family: 'Orbitron', sans-serif;
color: maroon;
 width: 850px;
 margin: 0 auto;
    
 padding: 20px 20px 20px 20px;
 border: 10px solid gray;
    
}

.block3{
   text-align: center;
    display: block;
    
    font-size: 20px;
      background-color: moccasin;       
 font-family: 'Orbitron', sans-serif;
color: maroon;
 width: 550px;
 margin: 0 auto;
    
 padding: 20px 20px 20px 20px;
 border: 10px solid gray;
}

.img1{
    float: left;
}
.img3{
    margin: 0 auto;
    
}

.p1Link{
    color: #1499A6; 
}

.p1Link: visited{
    color: orange;
}


h1{
    color: orange;
}
    
}
